
h2{
	width: 100%;
	color: #FF0000;
	margin-bottom: 1%;
}
body{
	background-color: #C0C0C0;
}
p{
	font-weight: 2%;
}
hr{
	width: 100%;
	height: 20%;
}
.padding{
	padding: 5%;
}
.margin{
	margin: 5% 0%;
}
.colorblanco{
	background-color:#FFF5EE;
}
.border{
	border: 2px solid black;
}
.block{
	display: block;
}